body{
    font-family: "Arial", sans-serif;
}

#controls{
    padding-left: 1em;
    padding-right: 1em;
    float: left; 
    background-color: #D4D4D4;
    height: 645px;
}

#paint-container{
    padding-right: .25em;
    padding-left: .25em;
    background-color: grey;
}